# n8r4: 8 MB flash, 4 MB QSPI PSRAM. Matches Arduino FQBN
# PSRAM=enabled,FlashSize=8M,PartitionScheme=default_8MB
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-n8r4.csv"
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_80M=y
